<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div>
            <ul>
                <li>
                    <a href="{{ path('app_homepage') }}">{{ "Homepage"|trans }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_admin_page') }}">{{ "Admin page"|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_profile_page') }}">{{ "Profile"|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_logout') }}">{{ "Logout"|trans }}</a>
                    </li>
                {% endif %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_login') }}">{{ "Login"|trans }}</a>
                    </li>
                {% endif %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_register') }}">{{ "Register"|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
